<h3><%= pluralize entries.count, "entry" %></h3>

<table class="table table-striped">
  <% entries.each do |entry| %>
    <tr>
      <td><strong><%= link_to entry.title, entry_path(entry) %></strong></td>
      <td><%= link_to "View entry", entry_path(entry) %></td>
      <td>created <%= time_ago_in_words entry.created_at %> ago</td>
      <td><%= pluralize entry.critiques.count, "critique" %> received</td>
    </tr>
  <% end %>
</table>
