<h1>Mentor a Project</h1>
<p>
To mentor a project, view the page corresponding to the project and <strong>make a critique on the mentee's most recent entry</strong>.
</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#recommended" data-toggle="tab">Recommended</a></li>
  <li><a href="#mentoring" data-toggle="tab">Projects You're Mentoring</a></li>
  <li><a href="#all" data-toggle="tab">All</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="recommended">
    <p>Because you are a <strong><%= current_user.skill_level %></strong> user, we recommend you mentor projects by <strong><%= current_user.skill_level %></strong> <% if current_user.skill_level != "Beginner" %>and <strong><%= current_user.lower_tier %></strong><% end %> users.</p>

    <%= render "entry_list", entries: @rec_entries %>
  </div>

  <div class="tab-pane" id="mentoring">
    <%= render "entry_list", entries: @mentoring_entries %>
  </div>

  <div class="tab-pane" id="all">
    <%= render "entry_list", entries: @entries %>
  </div>
</div>
