<div class="entry-info pull-left">
  <h1><%= @entry.title %></h1>
  <p>
    by <%= link_to @entry.user.username, @entry.user %> <%= skill_level_badge(@entry.user.skill_level) %>
  </p>
</div>

<div class="entry-actions pull-right">
  <%= link_to "View in new window", @entry.url, target: "_new", class: "btn btn-default" %> 
</div>

<iframe src="<%= @entry.url %>"></iframe>

<h3><%= pluralize @entry.critiques.count, "Critique" %></h3>

<%= render partial: "critiques/critique", collection: @entry.critiques %>

<%= render "critiques/form" %>
