<%= render 'header' %>

<div class="entry-info pull-left">
  <h1><%= @entry.title %></h1>
  <p>
    by <%= link_to @entry.user.username, @entry.user %> <%= skill_level_badge(@entry.user.skill_level) %>
  </p>
</div>

<div class="entry-actions pull-right">
  <%= link_to edit_project_entry_path(@entry.project, @entry), class: "btn" do %>
    <%= fa_icon "pencil" %>
    Edit
  <% end %>
  <%= link_to project_entry_path(@entry.project, @entry), method: :delete, confirm: "Are you sure you want to delete this project entry? This action cannot be undone.", class: "btn" do %>
    <%= fa_icon "times" %>
    Delete
  <% end %>
</div>

<div style="clear:both"></div>

<div>
  <%= @entry.content.html_safe %>
</div>

<div class="helpful-critiques panel panel-info">
  <div class="panel-heading">
    The user thought the following critiques were helpful for this entry:
  </div>
  <div class="panel-body critiques-select">
    <table>
      <% @helpful_crits.each do |crit| %>
        <tr>
          <td class="critique-select">
            <%= truncate(crit.text, length: 50) %>
          </td>
          <td class="critique-link">
            <%= link_to "See full critique", project_entry_path(crit.entry.project, crit.entry, anchor: "critique_#{crit.id}") %>
          </td>
          <td class="critiquer">
            by <%= link_to crit.user.username, crit.user  %>
            <%= skill_level_badge(crit.user.skill_level) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<h3><%= pluralize @entry.critiques.count, "Critique" %></h3>

<% if @entry.critiques.count <= 0 %>
  <p>
    No critiques yet.
  </p>
<% else %>
  <%= render partial: "critiques/critique", collection: @entry.critiques %>
<% end %>

<%= render "critiques/form" %>
