<% if can? :manage, @folder%>
<div class="project-actions pull-right">
  <%= link_to new_project_path, class: "btn btn-primary" do %>
    <%= fa_icon "plus" %>
    New Project
  <% end %>
  
  <%= link_to edit_folder_path(@folder), class: "btn" do %>
    <%= fa_icon "pencil" %>
    Edit
  <% end %>
  <%= link_to folder_path(@folder), method: :delete, confirm: "Are you sure you want to delete this folder? This action cannot be undone.", class: "btn" do %>
    <%= fa_icon "times" %>
    Delete
  <% end %>
</div>
<% end %>

<div class="project-header">
  <h1>
    <%= @folder.name %>
    <small>
      by <%= link_to @folder.user.username, @folder.user %> <%= skill_level_badge(@folder.user.skill_level) %>
    </small>
  </h1>
</div>
<p class="lead"><%= @folder.description %></p>

<hr />

<% if @folder.projects.count <= 0 %>
  No projects for this folder yet.
<% else %>
  <%= render 'projects/entry_list', :projects => @folder.projects %>
<% end %>
