<h1><%= @user.username %></h2>
<p>
  <strong>Points</strong> 
  <span class="tooltip-element" data-toggle="tooltip" title="Number of critiques rated highly by others">
    <%= @user.critiques_likes.count %> <%= fa_icon "thumbs-up" %>
  </span>
</p>

<ul class="nav nav-tabs">
  <li class="active">
  <a href="#projects" data-toggle="tab"><%= pluralize @user.projects.count, "Project" %></a>
  </li>
  <li>
  <a href="#critiques" data-toggle="tab"><%= pluralize @user.critiques.count, "Critique" %> Written</a>
  </li>
  <li>
  <a href="#rec_critiques" data-toggle="tab"><%= pluralize @user.critiques_received.count, "Critique" %> Received</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="projects">
    <table class="table table-striped">
      <% @user.projects.each do |project| %>
        <tr>
          <td><strong><%= link_to project.title, project %></strong></td>
          <td>created <%= time_ago_in_words project.created_at %> ago</td>
          <% if @user.id == current_user.id %>
          <td>
            <%= link_to "View", project %>
          </td>
          <td>
            <%= link_to "Update", edit_project_path(project) %>
          </td>
          <td>
            <%= link_to "Delete", project_path(project), :method => :delete, :confirm => "Are you sure you want to delete this project? You cannot undo this." %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="critiques">
    <table class="table table-striped">
      <% @user.critiques.each do |crit| %>
        <tr>
          <td>On <%= link_to crit.project.title, crit.project %> by <%= link_to crit.project.user.username, crit.project.user %></td>
          <td><%= link_to "View critique", project_path(crit.project, anchor: "critique_#{crit.id}") %></td>
          <td>created <%= time_ago_in_words crit.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="rec_critiques">
    <table class="table table-striped">
      <% @user.critiques_received.each do |crit| %>
        <tr>
          <td>From <%= link_to crit.user.username, crit.user %> on <%= link_to crit.project.title, crit.project %></td>
          <td><%= link_to "View critique", project_path(crit.project, anchor: "critique_#{crit.id}") %></td>
          <td>created <%= time_ago_in_words crit.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
