<h1><%= @user.username %></h2>
<p>
  <strong>Points</strong> 
  <span class="tooltip-element" data-toggle="tooltip" title="Number of critiques rated highly by others">
    <%= @user.critiques_likes.count %> <%= fa_icon "thumbs-up" %>
  </span>
</p>

<ul class="nav nav-tabs">
  <li class="active">
  <a href="#entries" data-toggle="tab"><%= pluralize @user.entries.count, "Entry" %></a>
  </li>
  <li>
  <a href="#critiques" data-toggle="tab"><%= pluralize @user.critiques.count, "Critique" %> Written</a>
  </li>
  <li>
  <a href="#rec_critiques" data-toggle="tab"><%= pluralize @user.critiques_received.count, "Critique" %> Received</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="entries">
    <table class="table table-striped">
      <% @user.entries.each do |entry| %>
        <tr>
          <td><strong><%= link_to entry.title, entry %></strong></td>
          <td>created <%= time_ago_in_words entry.created_at %> ago</td>
          <td><%= pluralize entry.critiques.count, "critique" %> received</td>
          <% if @user.id == current_user.id %>
          <td>
            <%= link_to "View", entry %>
          </td>
          <td>
            <%= link_to "Update", edit_entry_path(entry) %>
          </td>
          <td>
            <%= link_to "Delete", entry_path(entry), :method => :delete, :confirm => "Are you sure you want to delete this entry? You cannot undo this." %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="critiques">
    <table class="table table-striped">
      <% @user.critiques.each do |crit| %>
        <tr>
          <td>On <%= link_to crit.entry.title, crit.entry %> by <%= link_to crit.entry.user.username, crit.entry.user %></td>
          <td><%= link_to "View critique", entry_path(crit.entry, anchor: "critique_#{crit.id}") %></td>
          <td>created <%= time_ago_in_words crit.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane" id="rec_critiques">
    <table class="table table-striped">
      <% @user.critiques_received.each do |crit| %>
        <tr>
          <td>From <%= link_to crit.user.username, crit.user %> on <%= link_to crit.entry.title, crit.entry %></td>
          <td><%= link_to "View critique", entry_path(crit.entry, anchor: "critique_#{crit.id}") %></td>
          <td>created <%= time_ago_in_words crit.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
