<div class="dashboard">
  <h1>
    Welcome, <%= current_user.username %>!
    <small>What would you like to do?</small>
  </h1>
  <div class="row actions">
    <%= link_to new_project_path, class: "col-md-4 post-project" do %>
      <div class="inner">
        <%= fa_icon "plus" %>
        Post a Project
      </div>
    <% end %>
    <%= link_to projects_path, class: "col-md-4 mentor-project" do %>
      <div class="inner">
        <%= fa_icon "comments" %>
        Mentor a Project
      </div>
    <% end %>
    <%= link_to current_user, class: "col-md-4 view-profile" do %>
      <div class="inner">
        <%= fa_icon "user" %>
        View Profile
      </div>
    <% end %>
  </div>

  <hr />
  <h3>Notifications</h3>
  <ul class="notifications">
    <% if @tutorial_not_done %>
      <li>
      You have not yet completed the <%= link_to "Beginner's critiquing tutorial", tutorial_critiques_path %>. You need to complete the tutorial before you're able to post projects. 
      </li>
    <% end %>

    <% if @too_many_projects %>
      <li>
      Looks like you've posted more projects than you've written critiques! <%= link_to "Go mentor some more projects", projects_path %> to balance things out.
      </li>
    <% end %>

    <% if !current_prompt.nil? %>
      <li>
      The prompt for this week is:
      <strong>
        <%= current_prompt[:text].html_safe %>
      </strong>
      <br />
      Post projects for this prompt by <%= current_prompt[:time].to_s(:long) %> PST.
      </li>
    <% end %>

    <% if current_prompt.nil? && !@tutorial_not_done && !@too_many_projects %>
      <em>No notifications.</em>
    <% end %>
  </ul>

  <% if Atelier::Application.config.skill_levels %>
    <% if !@available_badges.empty? %>
    <hr />
    <div class="badges-container">
      <h3>Level-up Progress</h3>
      <%= render :partial => "users/badges", locals: { available_badges: @available_badges, earned_badges: @earned_badges } %>
    </div>
    <% end %>
  <% end %>
</div>
