<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Project Title", class: "largely" %>
  </div>
  <div class="field form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image, class: "hidden" %>
    <button class="project-browse-image btn btn-default">Choose file</button>
    <span id="project-file-name">
      <% if @project.image_file_name.nil? %>
        <em>No file chosen</em>
      <% else %>
        <%= @project.image_file_name %>
      <% end %>
    </span>
  </div>
  <div class="field form-group">
    <%= f.text_area :content, size: "20x10", placeholder: "Write about progress you've made on your project...", data: {provide: "markdown"} %>
  </div>
  <div class="field form-group">
    <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit button_name, class: "btn btn-primary" %>
  </div>
<% end %>
