<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Project Title", class: "largely" %>
  </div>
  <div class="field form-group">
    <%= f.label :image %><br />
    <%= f.file_field :image, class: "hidden" %>
    <button class="project-browse-image btn btn-default">Choose file</button>
    <span id="project-file-name">
      <% if @project.image_file_name.nil? %>
        <em>No file chosen</em>
      <% else %>
        <%= @project.image_file_name %>
      <% end %>
    </span>
  </div>
  <div class="field form-group">
    <%= f.text_area :content, size: "20x10", placeholder: "Write about progress you've made on your project...", data: {provide: "markdown"} %>
  </div>
  <% if !(@critique_options.nil? || @critique_options.count <= 0) %>
    <div class="field helpful-critiques panel panel-default">
      <div class="critiques-info panel-heading">
        Pick recent feedback for this project you found particularly helpful for this project:
      </div>
      <div class="critiques-select panel-body">
        <table>
          <% debugger %>
          <% @critique_options.each do |crit| %>
            <tr>
              <td class="critique-select">
                <label>
                  <input type="checkbox" name="critique[<%= crit.id %>]" value="<%= crit.id %>" <%= @project.voted_for?(crit) ? "checked" : "" %> />
                  <%= truncate(crit.text, length: 70) %>
                </label>
              </td>
              <td class="critique-link">
                <%= link_to "See full feedback", project_path(crit.project, anchor: "critique_#{crit.id}"), target: "_new" %>
              </td>
              <td class="critiquer">
                by <%= link_to crit.user.username, crit.user, target: "_new" %>
                <%= skill_level_badge(crit.user.skill_level) %><br />
                <small>
                  needs <%= pluralize(crit.user.num_helpful_critiques_needed, "more vote") %> to become a <%= crit.user.next_tier %> user
                </small>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit button_name, class: "btn btn-default" %>
  </div>
<% end %>
