<%= form_for [@project] do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Project Name", class: "form-control" %>
  </div>
  <div class="field">
    <%= f.text_area :description, size: "20x3", placeholder: "Briefly describe the goals you want to achieve through this project.", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit button_name, class: "btn" %>
  </div>
<% end %>
