<% show_name = true if local_assigns[:show_name].nil? %>
<% show_header = true if local_assigns[:show_header].nil? %>
<% scope = "all" if local_assigns[:scope].nil? %>
<% order_by = "lowcritiques" if local_assigns[:order_by].nil? %>

<div class="project-list-container">
<%= form_tag sort_projects_path, remote: true, class: "sort-projects form-group pull-right" do %>
  <label>
    Sort by 
  </label>
  <%= select_tag :order_by, options_for_select([
    ["Alphabetical", "alphabetical"],
    ["Newest", "recentcreated"],
    ["Most Recently Updated", "recentupdated"],
    ["Lowest to Highest Feedback", "lowcritiques"],
    ["Highest to Lowest Feedback", "highcritiques"]
  ], order_by), class: "form-control" %>
  <%= hidden_field_tag :scope, scope %>
  <% if @tag %>
    <%= hidden_field_tag :tag, @tag %>
  <% end %>
  <% if @query %>
    <%= hidden_field_tag :search, @query %>
  <% end %>
  <% if scope == "users" %>
    <%= hidden_field_tag :username, @user.username %> 
  <% end %>
<% end %>
<table class="table project-list <%= "table-bordered" if show_header %>">
  <% if show_header %>
    <tr class="header">
      <th>
        <%= pluralize projects.count, "project" %>
      </th>
    </tr>
  <% end %>
  <%= render partial: "projects/project", collection: projects, locals: { :show_name => show_name } %>
</table>
</div>
