<% show_name = true if local_assigns[:show_name].nil? %>

<div class="project col-md-4">
  <div class="thumbnail">
    <div class="pull-left">
      <div class="project-link">
        <h3><%= link_to project.name, project  %></h3>
        <p><%= truncate(project.description, length: 100) %></p>
      </div>
      <div class="project-info">
        <%= pluralize project.entries.count, "entry" %>
        <% if show_name %>
          <br />
          by <%= project.user.username %> <%= skill_level_badge(project.user.skill_level) %>
        <% end %>
      </div>
    </div>
      <div class="pull-right project-actions">
        <% if project.is_mentored_by? current_user %>
          <%= link_to project, class: "btn", disabled: "disabled" do %>
            <%= fa_icon "star" %>
            Mentoring
          <% end %>
        <% elsif project.user.id != current_user.id %>
          <%= link_to project, class: "btn btn-primary" do %>
            <%= fa_icon "star" %>
            Mentor
          <% end %>
        <% elsif show_name %>
          <%= link_to "Your project", project, class: "btn", disabled: "disabled" %>
        <% end %>
      </div>
    <div class="clearfix"></div>
  </div>
</div>
