<h2><%= pluralize(projects.count, "Project") %></h2>
<table class="table table-striped">
  <% projects.each do |project| %>
    <tr>
      <td><strong><%= link_to project.title, project.url %></strong></td>
      <td><%= link_to "View project", project.url %></td>
      <td>created on <%= project.created_at.strftime("%m-%d-%Y %I:%M%p") %></td>
      <td>by <%= project.user.username %> <%= skill_level_badge(project.user.skill_level) %></td>
    </tr>
  <% end %>
</table>
