<h1>Mentor a Project</h1>
<p>
To mentor a project, view the Google Doc corresponding to the project, and <strong>make a critique on the mentee's most recent entry</strong> using the <%= link_to "Google Docs comment feature", "https://support.google.com/drive/answer/65129?hl=en" %>.
</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#recommended" data-toggle="tab">Recommended</a></li>
  <li><a href="#all" data-toggle="tab">All</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="recommended">
    <p>Because you are a <strong><%= current_user.skill_level %></strong> user, we recommend you mentor projects by <strong><%= current_user.skill_level %></strong> and <strong><%= current_user.lower_tier %></strong> users.</p>

    <%= render "project_list", projects: @rec_projects %>
  </div>

  <div class="tab-pane" id="all">
    <%= render "project_list", projects: @projects %>
  </div>
</div>
