<div class="project-info pull-left">
  <h1><%= @project.title %></h1>
  <p>
    by <%= link_to @project.user.username, @project.user %> <%= skill_level_badge(@project.user.skill_level) %>
  </p>
</div>

<div class="project-actions pull-right">
  <%= link_to "View in new window", @project.url, target: "_new", class: "btn btn-default" %> 
  <% if current_user.can_critique? @project %>
    <%= project_like_button(@project) %>
  <% end %>
</div>

<iframe src="<%= @project.url %>"></iframe>

<h3><%= pluralize @project.critiques.count, "Critique" %></h3>

<%= render partial: "critiques/critique", collection: @project.critiques %>

<%= render "critiques/form" %>
