<% if can? :manage, @project %>
<div class="project-actions pull-right">
  <%= link_to new_project_entry_path(@project), class: "btn btn-primary" do %>
    <%= fa_icon "plus" %>
    New Entry
  <% end %>
  
  <%= link_to edit_project_path(@project), class: "btn" do %>
    <%= fa_icon "pencil" %>
    Edit
  <% end %>
  <%= link_to project_path(@project), method: :delete, confirm: "Are you sure you want to delete this project? This action cannot be undone.", class: "btn" do %>
    <%= fa_icon "times" %>
    Delete
  <% end %>
</div>
<% end %>

<div class="project-header">
  <h1>
    <%= @project.name %>
    <small>
      by <%= link_to @project.user.username, @project.user %> <%= skill_level_badge(@project.user.skill_level) %>
    </small>
  </h1>
</div>
<p class="lead"><%= @project.description %></p>

<hr />

<% if @project.entries.count <= 0 %>
  No entries for this project yet.
<% else %>
  <%= render 'entries/entry_list', :entries => @project.entries %>
<% end %>
