<%= render 'projects/header' %>

<%= render 'projects/body' %>

<h3><%= pluralize @project.critiques.count, "Feedback" %></h3>

<% if @project.critiques.count <= 0 %>
  <p>
    No feedback yet.
  </p>
<% else %>
  <%= render partial: "critiques/critique", collection: @project.critiques.order(:created_at) %>
<% end %>

<% if current_or_guest_user.id != @project.user.id %>
  <h3>Add Feedback</h3>
<% end %>
<%= render "critiques/form" %>
