<div class="response" id="response_<%= response.id %>">
  <div class="response-header">
    <%= link_to response.user.username, response.user %> <%= skill_level_badge(response.user.skill_level) %>
  </div>
  <% if response.user.voted_up_on?(response.critique) %>
    <div class="liked-message alert alert-warning">
      <%= fa_icon "thumbs-up" %> The mentee thought this critique was <strong>helpful</strong>. 
    </div>
  <% end %>
  <div class="response-body">
    <%= Format.markdown response.text %>
  </div>
  <hr />
  <div class="response-actions clearfix">
    <div class="pull-left">
      <% if can? :manage, response %>
        <%= link_to "Edit", edit_project_entry_critique_response_path(response.critique.entry.project, response.critique.entry, response.critique, response), remote: true %>
        &middot;
        <%= link_to "Delete", project_entry_critique_response_path(response.critique.entry.project, response.critique.entry, response.critique, response), confirm: "Are you sure you want to delete your reply? You cannot undo this action.", method: :delete %>
      <% end %>
    </div>
    <div class="pull-right">
      posted <%= time_ago_in_words response.created_at %> ago
    </div>
  </div>
</div>
