<div class="critique-container" id="critique_<%= critique.id %>_container">
  <div class="critique" id="critique_<%= critique.id %>">
    <div class="critique-header clearfix">
      <div class="pull-left">
        <%= link_to critique.user.username, critique.user %> <%= skill_level_badge(critique.user.skill_level) %>
      </div>
      <div class="pull-right">
        <span class="critique-likes" id="critique_<%= critique.id %>_likes_count">
          <%= critique.likes.count %>
        </span> 
        <%= fa_icon "thumbs-up" %>
      </div>
    </div>
    <% if !critique.rating.nil? %>
      <div class="liked-message alert alert-warning">
        <%= fa_icon "star" %> This mentor rated this entry entry at <strong><%= rating_to_skill_level(critique.rating) %></strong> 
      </div>
    <% end %>
    <div class="critique-body">
      <%= Format.markdown critique.text %>
    </div>
    <hr />
    <div class="critique-actions clearfix">
      <div class="pull-left">
        <% if current_user.id == critique.user.id || current_user.id == critique.entry.user.id %>
          <%= link_to "Respond", new_entry_critique_response_path(critique.entry, critique), remote: true %>
        <% end %>
        <% if can? :manage, critique %>
          &middot;
          <%= link_to "Edit", edit_entry_critique_path(critique.entry, critique), remote: true %>
          &middot;
          <%= link_to "Delete", entry_critique_path(critique.entry, critique), confirm: "Are you sure you want to delete your critique? You cannot undo this action.", method: :delete %>
        <% end %>
      </div> 
      <div class="pull-right">
        posted <%= time_ago_in_words critique.created_at %> ago
      </div>
    </div>
  </div>

  <%= render partial: "responses/response", collection: critique.responses, as: :response %>
</div>
