<div class="critique-container" id="critique_<%= critique.id %>_container">
  <div class="critique" id="critique_<%= critique.id %>">
    <div class="critique-header clearfix">
      <div class="pull-left">
        <% if critique.user.nil? || critique.user.is_guest? %>
          <%= critique.guest_name %> (Guest user)
        <% else %>
          <%= link_to critique.user.username, critique.user %> <%= skill_level_badge(critique.user.skill_level) %>
        <% end %>
        <span class="critique-time">
          posted <%= time_ago_in_words critique.created_at %> ago
        </span>
      </div>
      <div class="pull-right">
        <%= link_to "Reply", new_project_critique_response_path(critique.project, critique), remote: true %>
        <% if can? :manage, critique %>
          &middot;
          <%= link_to "Edit", edit_project_critique_path(critique.project, critique), remote: true %>
          &middot;
          <%= link_to "Delete", project_critique_path(critique.project, critique), confirm: "Are you sure you want to delete your feedback? You cannot undo this action.", method: :delete %>
        <% end %>
      </div>
    </div>
    <% if !critique.rating.nil? && Atelier::Application.config.skill_levels %>
      <div class="liked-message alert alert-warning">
        <%= fa_icon "star" %> This mentor rated this project at <strong><%= SkillLevel.find(critique.rating) %></strong> 
      </div>
    <% end %>
    <div class="critique-body clearfix <%= "paintover" if !critique.paintover_file_name.nil? %>">
      <div class="pull-left">
        <%= Format.markdown critique.text %>
      </div>
      <% if !critique.paintover_file_name.nil? %>
        <div class="pull-right">
          <%= link_to critique.paintover.url, target: "_blank" do %>
            <%= image_tag critique.paintover.url %>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr />
    <%= render 'critiques/rate_critique_actions', critique: critique %>
  </div>

  <%= render partial: "responses/response", collection: critique.responses, as: :response %>
</div>
