<% if current_or_guest_user.can_critique? @project %>
  <%= form_for [@project, @critique], validate: true do |f| %>
    <div class="critique-error alert alert-danger">
    </div>

    <% if current_or_guest_user.is_guest? %>
      <div class="row guest-name">
        <div class="field text col-md-4">
          <%= f.text_field :guest_name, placeholder: "Name (required)", class: "form-control", validate: { presence: true } %>
        </div>
        <div class="col-md-8 text-muted guest-notice">
          You are currently logged in as a guest. Fill in your name or <%= link_to "sign in.", new_user_session_path %> 
        </div>
      </div>
    <% end %>

    <div class="alert alert-info">
      Some advice for writing feedback: <br />
      <%= critique_hints(current_or_guest_user) %>   
    </div>

    <div class="field text">
      <%= f.text_area :text, size: "20x6", placeholder: "Write feedback for this project here...", data: {provide: "markdown"} %>

      <%= f.hidden_field :started_at %>
    </div>
    
    <% if !@project.image_file_name.nil? %>
      <div class="literally-toggle">
        <%= fa_icon "plus" %> 
        Add a paintover/redline
      </div>
      <div class="literally"><canvas></canvas></div>
      <%= hidden_field_tag(:paintover_data, "none") %>
      <%= f.hidden_field :paintover_snapshot %>
    <% end %>

    <% if !current_or_guest_user.is_guest? && !@project.user.has_skill_level?(:advanced) && Atelier::Application.config.skill_levels %>
      <% if current_or_guest_user.can_rate? @project %>
        <div class="rating-info">
          <%= link_to @project.user.username, @project.user %> has <%= pluralize(@project.user.next_tier_ratings, "project rating") %> of <%= @project.user.skill_level.higher_tier %>
          <% if @project.user.next_tier_ratings_needed > 0 %>
            -- needs <%= @project.user.next_tier_ratings_needed %> more to become a <%= @project.user.skill_level.higher_tier %> user
          <% end %>
        </div>

        <div class="field nominate">
          <div class="rating-label">
            Rate the overall quality of the project:
          </div>
          <% if SkillLevel.compare_strict(current_user.skill_level, @project.user.skill_level) %>
            <%= critique_rating_buttons(@project.user.skill_level.name_key.to_sym, current_user.skill_level.name_key.to_sym, @project.user.skill_level.name_key.to_sym) %>
          <% end %>
          <%= f.hidden_field :rating, :value => @project.user.skill_level.id %>
        </div>
        <% else %>
        <%= f.hidden_field :rating, :value => nil %>
      <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>
<% elsif current_user && current_user.id != @project.user.id %>
  <div class="alert alert-info">
    You are not yet at a high enough skill level (or too high of a skill level) to give feedback on this project.
  </div>
<% end %>

<script>
  $("#critique_text").focus(function() {
    if ($("#critique_started_at").val() == "") {
      $("#critique_started_at").val(+new Date() / 1000);
    }
  });

  $(".edit_critique .nominate .rating.btn, .new_critique .nominate .rating.btn").click(function() {
    if (!$(this).hasClass("btn-warning")) {
      $(this).siblings(".rating").removeClass("btn-warning");
      $(".fa-star", $(this).siblings(".rating")).removeClass("fa-star").addClass("fa-star-o");
      $(this).addClass("btn-warning");
      $(".fa-star-o", $(this)).removeClass("fa-star-o").addClass("fa-star");

      var skill_rating = 0;
      if ($(this).hasClass("beginner")) {
        skill_rating = <%= SkillLevel.find_by_name_key(:beginner).id %>
      } else if ($(this).hasClass("intermediate")) {
        skill_rating = <%= SkillLevel.find_by_name_key(:intermediate).id %>
      } else if ($(this).hasClass("advanced")) {
        skill_rating = <%= SkillLevel.find_by_name_key(:advanced).id %>
      }
      $(".nominate #critique_rating").val(skill_rating);
    }
  });

  $(".edit_critique .literally-toggle, .new_critique .literally-toggle").click(function() {
    $(".edit_critique .literally, .new_critique .literally").toggle();
  });
</script>
