<% if current_or_guest_user.can_critique? @project %>
  <%= form_for [@project, @critique] do |f| %>
    <% if @critique.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@critique.errors.count, "error") %> prohibited this critique from being saved:</h2>

        <ul>
        <% @critique.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_or_guest_user.is_guest? %>
      <div class="row guest-name">
        <div class="field text col-md-4">
          <%= f.text_field :guest_name, placeholder: "Name (required)", class: "form-control" %>
        </div>
        <div class="col-md-8 text-muted guest-notice">
          You are currently logged in as a guest. Fill in your name or <%= link_to "sign in.", new_user_session_path %> 
        </div>
      </div>
    <% end %>

    <div class="alert alert-info">
      Some advice for writing your critiques: <br />
      <%= critique_hints(current_or_guest_user) %>   
    </div>

    <div class="field text">
      <%= f.text_area :text, size: "20x6", placeholder: "Write your critique for this project here...", data: {provide: "markdown"} %>
    </div>
    
    <% if !@project.image_file_name.nil? %>
      <div class="literally-toggle">
        <%= fa_icon "plus" %> 
        Add a paintover/redline
      </div>
      <div class="literally"><canvas></canvas></div>
      <%= hidden_field_tag(:paintover_data, "none") %>
      <%= f.hidden_field :paintover_snapshot %>
    <% end %>

    <% if !current_or_guest_user.is_guest? && @project.user.skill_level != "Advanced" %>
      <div class="rating-info">
        <%= link_to @project.user.username, @project.user %> has <%= pluralize(@project.user.next_tier_ratings, "project rating") %> of <%= @project.user.next_tier %> -- needs <%= 5 - @project.user.next_tier_ratings %> more to become a <%= @project.user.next_tier %> user
      </div>

      <div class="field nominate">
        <div class="rating-label">
          Rate the overall quality of the project:
        </div>
        <div class="rating-container btn-group">
          <% if @project.user.skill_level == "Beginner" %>
            <a class="rating beginner btn btn-default <%= "btn-warning" if @project.user.skill_level == "Beginner" %>">
              <% if @project.user.skill_level == "Beginner" %>
                <%= fa_icon "star" %>
              <% else %>
                <%= fa_icon "star-o" %>
              <% end %>
              Beginner
            </a>
          <% end %>

          <a class="rating intermediate btn btn-default <%= "btn-warning" if @project.user.skill_level == "Intermediate" %>">
            <% if @project.user.skill_level == "Intermediate" %>
              <%= fa_icon "star" %>
            <% else %>
              <%= fa_icon "star-o" %>
            <% end %>
            Intermediate
          </a>

          <a class="rating advanced btn btn-default">
            <%= fa_icon "star-o" %>
            Advanced
          </a>
        </div>
        <%= f.hidden_field :rating, :value => skill_level_to_rating(@project.user.skill_level) %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Post", class: "btn btn-default" %>
    </div>
  <% end %>
<% elsif current_user && current_user.id != @project.user.id %>
  <div class="alert alert-info">
    You are not yet at a high enough skill level (or too high of a skill level) to critique this project.
  </div>
<% end %>

<script>
  $(".edit_critique .nominate .rating.btn, .new_critique .nominate .rating.btn").click(function() {
    if (!$(this).hasClass("btn-warning")) {
      $(this).siblings(".rating").removeClass("btn-warning");
      $(".fa-star", $(this).siblings(".rating")).removeClass("fa-star").addClass("fa-star-o");
      $(this).addClass("btn-warning");
      $(".fa-star-o", $(this)).removeClass("fa-star-o").addClass("fa-star");

      var skill_rating = 0;
      if ($(this).hasClass("beginner")) {
        skill_rating = <%= skill_level_to_rating("Beginner") %>
      } else if ($(this).hasClass("intermediate")) {
        skill_rating = <%= skill_level_to_rating("Intermediate") %>
      } else if ($(this).hasClass("advanced")) {
        skill_rating = <%= skill_level_to_rating("Advanced") %>
      }
      $(".nominate #critique_rating").val(skill_rating);
    }
  });

  $(".edit_critique .literally-toggle, .new_critique .literally-toggle").click(function() {
    $(".edit_critique .literally, .new_critique .literally").toggle();
  });
</script>
