<h2><%= link_to t('forem.forum.forums'), forem.root_path %> <%= fa_icon "angle-right" %> <%= link_to forem_emojify(topic.forum.title), [forem, topic.forum] %> <%= fa_icon "angle-right" %> <%= forem_emojify(topic.subject) %></h2>
