<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">atelier</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
      <li><a href="#">Schedule</a></li>
      <li><%= link_to "Post Project", new_project_path %></li>
      <li><%= link_to "Mentor a Project", projects_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Your Projects", "#" %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
