<div class="metanav">
  <% if user_signed_in? %>
    <%= link_to current_user do %> 
      <%= current_user.username %>
      <%= current_user.critiques_likes.count %>
      <%= fa_icon "thumbs-up" %>
    <% end %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> 
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</div>
  
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">atelier</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Post Project", new_project_path %></li>
      <li><%= link_to "Mentor a Project", projects_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "My Projects", current_user %></li>
      <% end %>
    </ul>
  </div>
</nav>
